<!DOCTYPE html>
<html>
<head>
	<title>
		Facial Recognition Application
	</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h2 class="mt-5">Face Recognition Application</h2>
            <img src="{{ url_for('video_feed') }}" width="50%" height="50%">
			<h3 style="font-family:courier;">Recognised faces:</h3>
			<ol style="font-family:courier;">
			<li>Robert</li>
			<li>Anthony Joshua</li>
			<li>Cristiano Ronaldo</li>
			</ol>
        </div>
    </div>
</div>
</body>
</html>